.catalog-container {
    margin: 15px 10px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {

    .catalog-container {
        margin-left: 5%;
        margin-right: 5%;
    }

}