.home-container {
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
}

.home-basecard-container {
  background-color: #00285f;
  border-radius: 5px;
}

.home-basecard-text {
  width: 300px;
  align-items: flex-start;
  margin: auto;
}

.home-basecard-text h6 {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
}

.home-basecard-text p {
  color: #ffffff;
  text-align: center;
  font-weight: 400px;
  font-size: 10px;
  padding: 0px 40px 0 50px;
}

.home-basecard-img {
  padding: 15px 60px 20px 60px;
  justify-content: center;
  display: flex;
}

.home-basecard-img svg {
  width: 250px;
  height: auto;
}

.home-buttoncard-container {
  padding: 15px 0 0 0;
}

@media (min-width: 576px) {
  .home-basecard-img {
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }

  .home-basecard-img svg {
    width: 250px;
    height: auto;
  }

  .home-basecard-text {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .home-basecard-img {
    padding-bottom: 0;
  }

  .home-basecard-text {
    margin-bottom: 80px;
  }
}

@media (min-width: 992px) {
  .home-basecard-img svg {
    width: 300px;
    height: auto;
  }
}

@media (min-width: 1200px) {

  .home-basecard-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    height: 250px;
}

  .home-basecard-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-right: 0;
    width: 350px;

  }

  .home-basecard-text h6 {
    font-size: 30px;
    text-align: justify;
  }

  .home-basecard-text p {
    font-size: 15px;
    text-align: justify;
    padding: 0;
  }

  .home-basecard-img {
    margin: auto;
    margin-left: 0;
    
  }

  .home-basecard-img svg {
    width: 250px;
  }

}
